<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/head :: adminHead"></head>
<body>
<div th:replace="admin/common/top::header"></div>
<div class="container" style="height:700px;">
    <div class="tbl_wrp">
        <form class="form-horizontal" th:action="@{/admin/accounts}" method="post" th:object="${user}">
            <input th:type="hidden" name="id" th:value="*{id}"/>
            <table class="table text-center align-middle">
                <thead>
                <tr class="table-info">
                    <th scope="col" style="width: 60%;">아이디</th>
                    <th scope="col" style="width: 20%;">닉네임</th>
                    <th scope="col" style="width: 20%;">권한</th>
                </tr>
                </thead>
                <tbody>
                <tr class="link_btn hover" style="height: 60px;">
                    <td>
                        <input type="text" class="border-0 rounded-0 text-center" th:field="*{username}" id="username"
                               readonly>
                    </td>
                    <td>
                        <input type="text" class="border-0 rounded-0 text-center" th:field="*{nickname}" id="nickname"
                               readonly>
                    </td>
                    <td>
                        <select th:field="*{role}" id="role" class="text-center" style="width: 100px;">
                            <option value="ROLE_USER" selected>일반</option>
                            <option value="ROLE_MANAGER">매니저</option>
                            <option value="ROLE_ADMIN">관리자</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="form-group d-flex justify-content-end me-5 mt-2">
                    <button type="Submit" class="btn btn-dark btn-lg me-3">수정</button>
                    <a th:href="@{/admin/accounts/delete/{id}(id=${user.id})}">
                        <button type="button" class="btn btn-danger btn-lg">삭제</button>
                    </a>
            </div>
        </form>
    </div>
</div>
<div th:replace="layout/footer::footer"></div>
<script th:inline="javascript">
/*<![CDATA[*/
   var result = /*[[${result}]]*/ null;
   $(document).ready(function() {
      if (result == "modifyTrue") {
         alert("권한 변경이 완료 되었습니다");
      }
   });
/*]]>*/


</script>
</body>
</html>