<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/head :: adminHead"></head>
<body>
<div th:replace="admin/common/top::header"></div>
<div id="maininner"><!-- maininner (s)-->
  <div class="cc-tab-con">
    <a th:href="@{/admin/accounts}" class="cc-tab-item">사용자 권한 관리</a>        <!--// on : 현재 위치 //-->
    <a th:href="@{/admin/resources}" class="cc-tab-item">리소스 관리</a>
  </div>
  <div class="tbl_wrp">
    <div style="padding-top:50px;"  class="col">
      <div class="container text-center">
        <div class="security"></div>
        <h1 class="text-primary">관리자 페이지</h1>
      </div>
    </div>
  </div>

</div>

</body>
</html>