<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="homeFooter">
        <footer class="m-0">
            <div class="border-top">
                <p class="text-center mt-3">🐬 Created by TwoSharkbaby 🐬</p>
                <p class="text-center mb-0">📆 2023.09</p>
            </div>
        </footer>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cee28508c11c60f63fcefa378ba506a6&libraries=services"></script>
        <script th:inline="javascript">
var mapContainer = document.getElementById('map'),
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 7
    };

var map = new kakao.maps.Map(mapContainer, mapOption);

        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var userLatLng = new kakao.maps.LatLng(position.coords.latitude, position.coords.longitude);
                map.setCenter(userLatLng);
                searchGyms(userLatLng);
            });
        }

        function searchGyms(userLatLng) {
            var ps = new kakao.maps.services.Places();

            ps.keywordSearch('헬스장', function (data, status, pagination) {
                if (status === kakao.maps.services.Status.OK) {
                    displayPlaces(data);
                }
            }, {
                location: userLatLng
            });
        }

        function displayPlaces(places) {
            var placesList = document.getElementById('placesList');
            var fragment = document.createDocumentFragment();

            for (var i = 0; i < places.length; i++) {
                var place = places[i];
                var item = document.createElement('div');
                item.className = 'placeItem';
                item.innerHTML = place.place_name;
                fragment.appendChild(item);

                var marker = new kakao.maps.Marker({
                    map: map,
                    position: new kakao.maps.LatLng(place.y, place.x)
                });

                kakao.maps.event.addListener(marker, 'click', (function (place) {
                    return function () {
                        var infowindow = new kakao.maps.InfoWindow({
                            content: '<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>'
                        });
                        infowindow.open(map, marker);
                    };
                })(place));
            }

            //placesList.appendChild(fragment);
        }
</script>
    </div>
</html>