<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="recodeHead">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Calendar</title>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/bootstrap-grid.css"/>
    <link rel="stylesheet" href="/css/css.css"/>
    <script src="/js/fullCalendar/index.js"></script>
    <script src="/js/fullCalendar/ko.js"></script>
    <script src="/js/fullCalendar/bootstrap5.js"></script>
    <script src="/js/fullCalendar/core.js"></script>
    <script src="/js/fullCalendar/daygrid.js"></script>
    <script src="/js/fullCalendar/timegrid.js"></script>
    <script src="/js/fullCalendar/list.js"></script>
    <script src="/js/fullCalendar/interaction.js"></script>
    <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {

        const token = $("meta[name='_csrf']").attr("content")
        const header = $("meta[name='_csrf_header']").attr("content");

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
				left: 'prev,next today',
				center: 'title',
				right: 'addEventButton'
			},
		    customButtons: {
                addEventButton: { // 추가한 버튼 설정
                    text : "기록 추가",
                    click : function(){
                        $("#calendarAddModal").modal("show");
                }
            }
        },
		locale : "ko",
		timeZone: 'UTC',
        events: [
                /*[# th:each="recode : ${recode}"]*/
                {
                id: /*[[${recode.id}]]*/,
                title: /*[[${recode.title}]]*/,
                start: /*[[${recode.date}]]*/,
                end: /*[[${recode.date}]]*/
                },
                /*[/]*/
		],
		eventClick:function(event) {
		    var id = event.event.id;

		    $.ajax({
			    type: "GET",
				url: "/recode/" + id,
				contentType: "application/json; charset=utf-8",
				dataType: "json"
			}).done(function(response) {
                showModifyModal(response);
			}).fail(function(error) {
			     alert("올바르지 않은 접근 방식입니다");
			});

			function showModifyModal(response) {
		        var eventDate = event.event.start;
                var dateObj = new Date(eventDate);
                var year = dateObj.getFullYear();
                var month = (dateObj.getMonth() + 1).toString().padStart(2, '0');
                var day = dateObj.getDate().toString().padStart(2, '0');
                var formattedDate = year + "-" + month + "-" + day;

                $("#idM").val(response.id);
                $("#titleM").val(event.event.title);
                $("#dateM").val(formattedDate);

                var performance = response.performanceDto;

                for (var i = 0; i < 5; i++) {
                    var performanceIdInput = $("#performanceId" + (i + 1));
                    var typeInput = $("#type" + (i + 1) + "M");
                    var weightInput = $("#weight" + (i + 1) + "M");
                    var repInput = $("#rep" + (i + 1) + "M");
                    var setInput = $("#set" + (i + 1) + "M");

                    if (performance[i]) {
                        performanceIdInput.val(performance[i].id);
                        typeInput.val(performance[i].type);
                        weightInput.val(performance[i].weight);
                        repInput.val(performance[i].rep);
                        setInput.val(performance[i].setCount);
                    } else {
                        performanceIdInput.val('');
                        typeInput.val('');
                        weightInput.val('');
                        repInput.val('');
                        setInput.val('');
                    }
                }
                calculateTotalM();
		        $("#calendarModifyModal").modal("show");
		    }
            }
        });
        calendar.render();

        $("#addCalendar").on("click",function(){
            var userId = $("#userId").val();
            var title = $("#title").val();
            var date = $("#date").val();

            var type1 = $("#type1").val();
            var weight1 = $("#weight1").val();
            var rep1 = $("#rep1").val();
            var set1 = $("#set1").val();

            var type2 = $("#type2").val();
            var weight2 = $("#weight2").val();
            var rep2 = $("#rep2").val();
            var set2 = $("#set2").val();

            var type3 = $("#type3").val();
            var weight3 = $("#weight3").val();
            var rep3 = $("#rep3").val();
            var set3 = $("#set3").val();

            var type4 = $("#type4").val();
            var weight4 = $("#weight4").val();
            var rep4 = $("#rep4").val();
            var set4 = $("#set4").val();

            var type5 = $("#type5").val();
            var weight5 = $("#weight5").val();
            var rep5 = $("#rep5").val();
            var set5 = $("#set5").val();

            var performance = [];

            if (type1 != null && type1 != "" && weight1 != null && weight1 != "" && rep1 != null && rep1 != "" && set1 != null && set1 != "") {
                performance.push({
                "type": type1,
                "weight": weight1,
                "rep": rep1,
                "setCount": set1
            });
            }
            if (type2 != null && type2 != "" && weight2 != null && weight2 != "" && rep2 != null && rep2 != "" && set2 != null && set2 != "") {
                performance.push({
                "type": type2,
                "weight": weight2,
                "rep": rep2,
                "setCount": set2
            });
            }
            if (type3 != null && type3 != "" && weight3 != null && weight3 != "" && rep3 != null && rep3 != "" && set3 != null && set3 != "") {
                performance.push({
                "type": type3,
                "weight": weight3,
                "rep": rep3,
                "setCount": set3
            });
            }
            if (type4 != null && type4 != "" && weight4 != null && weight4 != "" && rep4 != null && rep4 != "" && set4 != null && set4 != "") {
                performance.push({
                "type": type4,
                "weight": weight4,
                "rep": rep4,
                "setCount": set4
            });
            }
            if (type5 != null && type5 != "" && weight5 != null && weight5 != "" && rep5 != null && rep5 != "" && set5 != null && set5 != "") {
                performance.push({
                "type": type5,
                "weight": weight5,
                "rep": rep5,
                "setCount": set5
            });
            }

            if(title == null || title == ""){
                alert("제목을 입력하세요.");
            }else{
                var recodeResisterFormDto = {
                    "user" : {
                        "id" : userId
                    },
                    "performanceList" : performance,
                    "title" : title,
                    "date" : date
                }

                $.ajax({
				    type: "POST",
				    url: "/recode/register",
				    contentType: "application/json; charset=utf-8",
				    dataType: "text",
				    data : JSON.stringify(recodeResisterFormDto),
				    beforeSend: function(xhr){
			            xhr.setRequestHeader(header, token);
			        },
			    }).done(function(response) {
				    alert("성공적으로 등록 되었습니다");
				    location.reload();
			    }).fail(function(error) {
			        alert("제목은 10글자 이하로 작성해주세요");
			    });
            }
        });

        $("#deleteCalendar").on("click",function(){
            var userId = $("#userIdM").val();
            var id = $("#idM").val();

            $.ajax({
				type: "DELETE",
				url: "/recode/delete/" + id + "/" + userId,
				contentType: "application/json; charset=utf-8",
				dataType: "text",
				beforeSend: function(xhr){
			        xhr.setRequestHeader(header, token);
			    },
			}).done(function(response) {
				alert("성공적으로 삭제 되었습니다");
				location.reload();
			}).fail(function(error) {
			    alert("올바르지 않은 접근 방식입니다");
			});
        });

        $("#modifyCalendar").on("click",function(){
            var userId = $("#userIdM").val();
            var title = $("#titleM").val();
            var date = $("#dateM").val();
            var id = $("#idM").val();

            var performanceId1 = $("#performanceId1").val();
            var type1 = $("#type1M").val();
            var weight1 = $("#weight1M").val();
            var rep1 = $("#rep1M").val();
            var set1 = $("#set1M").val();

            var performanceId2 = $("#performanceId2").val();
            var type2 = $("#type2M").val();
            var weight2 = $("#weight2M").val();
            var rep2 = $("#rep2M").val();
            var set2 = $("#set2M").val();

            var performanceId3 = $("#performanceId3").val();
            var type3 = $("#type3M").val();
            var weight3 = $("#weight3M").val();
            var rep3 = $("#rep3M").val();
            var set3 = $("#set3M").val();

            var performanceId4 = $("#performanceId4").val();
            var type4 = $("#type4M").val();
            var weight4 = $("#weight4M").val();
            var rep4 = $("#rep4M").val();
            var set4 = $("#set4M").val();

            var performanceId5 = $("#performanceId5").val();
            var type5 = $("#type5M").val();
            var weight5 = $("#weight5M").val();
            var rep5 = $("#rep5M").val();
            var set5 = $("#set5M").val();

            var performance = [];

            if (type1 != null && type1 != "" && weight1 != null && weight1 != "" && rep1 != null && rep1 != "" && set1 != null && set1 != "") {
                performance.push({
                "id": performanceId1,
                "type": type1,
                "weight": weight1,
                "rep": rep1,
                "setCount": set1
            });
            }
            if (type2 != null && type2 != "" && weight2 != null && weight2 != "" && rep2 != null && rep2 != "" && set2 != null && set2 != "") {
                performance.push({
                "id": performanceId2,
                "type": type2,
                "weight": weight2,
                "rep": rep2,
                "setCount": set2
            });
            }
            if (type3 != null && type3 != "" && weight3 != null && weight3 != "" && rep3 != null && rep3 != "" && set3 != null && set3 != "") {
                performance.push({
                "id": performanceId3,
                "type": type3,
                "weight": weight3,
                "rep": rep3,
                "setCount": set3
            });
            }
            if (type4 != null && type4 != "" && weight4 != null && weight4 != "" && rep4 != null && rep4 != "" && set4 != null && set4 != "") {
                performance.push({
                "id": performanceId4,
                "type": type4,
                "weight": weight4,
                "rep": rep4,
                "setCount": set4
            });
            }
            if (type5 != null && type5 != "" && weight5 != null && weight5 != "" && rep5 != null && rep5 != "" && set5 != null && set5 != "") {
                performance.push({
                "id": performanceId5,
                "type": type5,
                "weight": weight5,
                "rep": rep5,
                "setCount": set5
            });
            }

            if(title == null || title == ""){
                alert("제목을 입력하세요.");
            }else{
                var recodeModifyFormDto = {
                    "user" : {
                       "id" : userId
                    },
                    "performanceDto" : performance,
                    "id" : id,
                    "title" : title,
                    "date" : date
                }

                $.ajax({
				    type: "PUT",
				    url: "/recode/modify",
				    contentType: "application/json; charset=utf-8",
				    dataType: "text",
				    data : JSON.stringify(recodeModifyFormDto),
				    beforeSend: function(xhr){
			           xhr.setRequestHeader(header, token);
			        },
			    }).done(function(response) {
				    alert("성공적으로 수정 되었습니다");
				    location.reload();
			    }).fail(function(error) {
			        alert("제목은 10글자 이하로 작성해주세요");
			    });
            }
        });

        function calculateTotal() {
            var totalWeight = 0;

            for (var i = 1; i <= 5; i++) {
                var weight = parseInt($("#weight" + i).val()) || 0;
                var rep = parseInt($("#rep" + i).val()) || 0;
                var set = parseInt($("#set" + i).val()) || 0;
                totalWeight += weight * rep * set;
            }

            $("#totalWeight").text(totalWeight);
        }

        function calculateTotalM() {
            var totalWeightM = 0;

            for (var i = 1; i <= 5; i++) {
                var weight = parseInt($("#weight" + i + "M").val()) || 0;
                var rep = parseInt($("#rep" + i + "M").val()) || 0;
                var set = parseInt($("#set" + i + "M").val()) || 0;
                totalWeightM += weight * rep * set;
            }

            $("#totalWeightM").text(totalWeightM);
        }

        calculateTotal();

        $("#totalWeightCheck").on("click", function() {
            var totalWeight = 0;

            for (var i = 1; i <= 5; i++) {
                var weight = parseFloat($("#weight" + i).val());
                var rep = parseInt($("#rep" + i).val());
                var set = parseInt($("#set" + i).val());
                var type = $("#type" + i).val();

                if (type.trim() !== "" && !isNaN(weight) && !isNaN(rep) && !isNaN(set)) {
                    totalWeight += weight * rep * set;
            }
        }

            $("#totalWeight").text(totalWeight);
        });

        $("#totalWeightCheckM").on("click", function() {
            var totalWeightM = 0;

            for (var i = 1; i <= 5; i++) {
                var weight = parseFloat($("#weight" + i + "M").val());
                var rep = parseInt($("#rep" + i + "M").val());
                var set = parseInt($("#set" + i + "M").val());
                var type = $("#type" + i + "M").val();

                if (type.trim() !== "" && !isNaN(weight) && !isNaN(rep) && !isNaN(set)) {
                    totalWeightM += weight * rep * set;
            }
        }

            $("#totalWeightM").text(totalWeightM);
        });
    });
</script>
</head>
</html>
