<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<head th:replace="layout/recodeHeader::recodeHead"></head>
<body>
<div th:replace="layout/top::header"></div>
<div class="container mt-5" style="height:800px;">
    <div id='calendar'></div>
    <div class="chart-container mt-5 mb-5" sec:authorize="isAuthenticated()">
        <div class="chart-div">
            <canvas id="myChart3"></canvas>
        </div>
        <div class="chart-div">
            <canvas id="myChart4"></canvas>
        </div>
    </div>
    <div class="modal" id="calendarAddModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center mt-4">
                    <h4 class="fw-bold">기록 등록</h4>
                </div>
                <div class="modal-body m-4">
                    <input type="hidden" id="userId" th:value="${#authentication.principal.user.id}">
                    <div class="form-group text-start mb-3">
                        <label for="title" class="mb-2 fw-bold">제목</label>
                        <input type="text" class="form-control input-large" id="title" name="title"
                               placeholder="제목을 10글자 이내로 입력해주세요" required>
                    </div>
                    <div class="form-group text-start mb-3">
                        <table class="table table-borderless">
                            <thead>
                            <tr class="text-center">
                                <th scope="col" style="width: 40%;">운동명</th>
                                <th scope="col" style="width: 20%;">무게</th>
                                <th scope="col" style="width: 20%;">갯수</th>
                                <th scope="col" style="width: 20%;">세트</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="text" class="form-control text-center" id="type1" name="type1"></td>
                                <td><input type="text" class="form-control text-center" id="weight1" name="weight1"></td>
                                <td><input type="text" class="form-control text-center" id="rep1" name="rep1"></td>
                                <td><input type="text" class="form-control text-center" id="set1" name="set1"></td>
                            </tr>
                            <tr class="text-center">
                                <td><input type="text" class="form-control text-center" id="type2" name="type2"></td>
                                <td><input type="text" class="form-control text-center" id="weight2" name="weight2"></td>
                                <td><input type="text" class="form-control text-center" id="rep2" name="rep2"></td>
                                <td><input type="text" class="form-control text-center" id="set2" name="set2"></td>
                            </tr>
                            <tr class="text-center">
                                <td><input type="text" class="form-control text-center" id="type3" name="type3"></td>
                                <td><input type="text" class="form-control text-center" id="weight3" name="weight3"></td>
                                <td><input type="text" class="form-control text-center" id="rep3" name="rep3"></td>
                                <td><input type="text" class="form-control text-center" id="set3" name="set3"></td>
                            </tr>
                            <tr class="text-center">
                                <td><input type="text" class="form-control text-center" id="type4" name="type4"></td>
                                <td><input type="text" class="form-control text-center" id="weight4" name="weight4"></td>
                                <td><input type="text" class="form-control text-center" id="rep4" name="rep4"></td>
                                <td><input type="text" class="form-control text-center" id="set4" name="set4"></td>
                            </tr>
                            <tr class="text-center">
                                <td><input type="text" class="form-control text-center" id="type5" name="type5"></td>
                                <td><input type="text" class="form-control text-center" id="weight5" name="weight5"></td>
                                <td><input type="text" class="form-control text-center" id="rep5" name="rep5"></td>
                                <td><input type="text" class="form-control text-center" id="set5" name="set5"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center text-center align-items-center mt-3 mb-3">
                        <button id="totalWeightCheck" class="btn btn-primary me-3">총 무게 확인</button>
                        <h5 id="totalWeight"></h5><h5>&nbsp;KG</h5>
                    </div>
                    <div class="form-group text-start mb-4">
                        <label for="date" class="mb-2 fw-bold">날짜</label>
                        <input type="date" class="form-control input-large" id="date" name="date"
                               required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="addCalendar">저장</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="calendarModifyModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center mt-4">
                    <h4 class="fw-bold">기록 수정</h4>
                </div>
                <div class="modal-body m-4">
                    <input type="hidden" id="idM" value="">
                    <input type="hidden" id="userIdM" th:value="${#authentication.principal.user.id}">
                    <div class="form-group text-start mb-3">
                        <label for="titleM" class="mb-2 fw-bold">제목</label>
                        <input type="text" class="form-control input-large" id="titleM" name="titleM"
                               placeholder="제목을 10글자 이내로 입력해주세요" required>
                    </div>
                    <div class="form-group text-start mb-3">
                        <table class="table table-borderless">
                            <thead>
                            <tr class="text-center">
                                <th scope="col" style="width: 40%;">운동명</th>
                                <th scope="col" style="width: 20%;">무게</th>
                                <th scope="col" style="width: 20%;">갯수</th>
                                <th scope="col" style="width: 20%;">세트</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <input type="hidden" id="performanceId1" value="">
                                <td><input type="text" class="form-control text-center" id="type1M" name="type1M"></td>
                                <td><input type="text" class="form-control text-center" id="weight1M" name="weight1M"></td>
                                <td><input type="text" class="form-control text-center" id="rep1M" name="rep1M"></td>
                                <td><input type="text" class="form-control text-center" id="set1M" name="set1M"></td>
                            </tr>
                            <tr class="text-center">
                                <input type="hidden" id="performanceId2" value="">
                                <td><input type="text" class="form-control text-center" id="type2M" name="type2M"></td>
                                <td><input type="text" class="form-control text-center" id="weight2M" name="weight2M"></td>
                                <td><input type="text" class="form-control text-center" id="rep2M" name="rep2M"></td>
                                <td><input type="text" class="form-control text-center" id="set2M" name="set2M"></td>
                            </tr>
                            <tr class="text-center">
                                <input type="hidden" id="performanceId3" value="">
                                <td><input type="text" class="form-control text-center" id="type3M" name="type3M"></td>
                                <td><input type="text" class="form-control text-center" id="weight3M" name="weight3M"></td>
                                <td><input type="text" class="form-control text-center" id="rep3M" name="rep3M"></td>
                                <td><input type="text" class="form-control text-center" id="set3M" name="set3M"></td>
                            </tr>
                            <tr class="text-center">
                                <input type="hidden" id="performanceId4" value="">
                                <td><input type="text" class="form-control text-center" id="type4M" name="type4M"></td>
                                <td><input type="text" class="form-control text-center" id="weight4M" name="weight4M"></td>
                                <td><input type="text" class="form-control text-center" id="rep4M" name="rep4M"></td>
                                <td><input type="text" class="form-control text-center" id="set4M" name="set4M"></td>
                            </tr>
                            <tr class="text-center">
                                <input type="hidden" id="performanceId5" value="">
                                <td><input type="text" class="form-control text-center" id="type5M" name="type5M"></td>
                                <td><input type="text" class="form-control text-center" id="weight5M" name="weight5M"></td>
                                <td><input type="text" class="form-control text-center" id="rep5M" name="rep5M"></td>
                                <td><input type="text" class="form-control text-center" id="set5M" name="set5M"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center text-center align-items-center mt-3 mb-3">
                        <button id="totalWeightCheckM" class="btn btn-primary me-3">총 무게 확인</button>
                        <h5 id="totalWeightM"></h5><h5>&nbsp;KG</h5>
                    </div>
                    <div class="form-group text-start mb-4">
                        <label for="dateM" class="mb-2 fw-bold">날짜</label>
                        <input type="date" class="form-control input-large" id="dateM" name="dateM"
                               required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="modifyCalendar">수정</button>
                    <button type="button" class="btn btn-danger" id="deleteCalendar">삭제</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="layout/recodeFooter::recodeFooter"></div>
</div>
</body>
</html>