<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a href="#" th:href="@{/}"><h2 class="fw-bold ms-5">Home</h2></a>
            <ul class="navbar-nav me-auto ms-4 mt-1">
                <li class="nav-item ms-3">
                    <a class="nav-link active" aria-current="page" href="#" th:href="@{/admin/accounts}"><h4>사용자 권한</h4>
                    </a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link active" aria-current="page" href="#" th:href="@{/admin/resources}"><h4>리소스</h4>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto me-5 mt-1">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link active" th:href="@{/user/logout}"><h5>로그아웃</h5></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>