<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/head :: adminHead"></head>
<body>
<div th:replace="admin/common/top::header"></div>
<div class="container" style="height:600px;">
  <div class="tbl_wrp">
    <table class="table text-center align-middle">
      <thead>
      <tr class="table-info">
        <th scope="col" style="width: 15%;">번호</th>
        <th scope="col" style="width: 55%;">리소스명</th>
        <th scope="col" style="width: 15%;">권한</th>
        <th scope="col" style="width: 15%;">수정하기</th>
      </tr>
      </thead>
      <tbody>
      <tr class="link_btn hover" th:each="resource : ${resources}">
        <td th:text="${resource.id}"></td>
        <td th:text="${resource.urlName}"></td>
        <td th:text="${resource.role}"></td>
        <td><a th:href="@{'/admin/resources/' + ${resource.id}}"><button class="btn btn-primary">수정하기</button></a></td>
      </tr>
      </tbody>
    </table>

    <div th:if="${resources != null && !resources.empty}">

      <ul class="pagination justify-content-center"
          th:with="
            pageNumber = ${resources.pageable.pageNumber},
            pageSize = ${resources.pageable.pageSize},
            totalPages = ${resources.totalPages},
            startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
            tempEndPage = ${startPage + pageSize - 1},
            endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})">

        <li th:classappend="${resources.first} ? 'disabled'" class="page-item">
          <a class="page-link" th:href="${resources.first} ? '#' : @{/admin/resources(page=${pageNumber - 1})}">
            <span aria-hidden="true">&lt;</span>
          </a>
        </li>

        <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
            th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
          <a th:text="${page}" class="page-link" th:href="@{/admin/resources(page=${page - 1})}"></a>
        </li>

        <li th:classappend="${resources.last} ? 'disabled'" class="page-item">
          <a class="page-link" th:href="${resources.last} ? '#' : @{/admin/resources(page=${pageNumber + 1})}"
             aria-label="Next">
            <span aria-hidden="true">&gt;</span>
          </a>
        </li>
      </ul>
    </div>
    <div th:if="${resources.empty}" class="mt-5 mb-5 d-flex justify-content-center align-items-center text-center" style="height: 80%;">
      <h1>등록된 리소스가 없습니다</h1>
    </div>
  </div>
</div>
<div class="container" style="height:100px;">
  <div style="text-align:right;">
    <p><a class="btn btn-dark btn-lg me-5" style="margin:10;" th:href="@{/admin/resources/register}">등록</a></p>
  </div>
</div>
<div th:replace="layout/footer::footer"></div>
<script th:inline="javascript">
/*<![CDATA[*/
   var result = /*[[${result}]]*/ null;
   $(document).ready(function() {
      if (result == "deleteTrue") {
         alert("리소스가 삭제 되었습니다");
      }
   });
/*]]>*/
</script>
</body>
</html>