<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/header::userHead"></head>
<body>
<div th:replace="layout/top::header"></div>
<div class="container" style="height:700px;">
    <div class="chart-container1 mt-5">
        <div class="chart-div1">
            <h1>운동정보</h1>
        </div>
        <div class="chart-div1">
            <h1>헬스장 지도</h1>
        </div>
    </div>
    <div class="chart-container mt-5" sec:authorize="isAnonymous()">
        <div class="chart-div d-flex justify-content-center align-items-center position-relative">
            <canvas id="myChart1" class="blurEffect"></canvas>
            <a th:href="@{/user/loginForm}" class="btn btn-primary position-absolute top-50 start-50 translate-middle">로그인 하기</a>
        </div>
        <div class="chart-div d-flex justify-content-center align-items-center position-relative">
            <canvas id="myChart2" class="blurEffect"></canvas>
            <a th:href="@{/user/loginForm}" class="btn btn-primary position-absolute top-50 start-50 translate-middle">로그인 하기</a>
        </div>
    </div>
    <div class="chart-container mt-5" sec:authorize="isAuthenticated()">
        <div class="chart-div">
            <canvas id="myChart3"></canvas>
        </div>
        <div class="chart-div">
            <canvas id="myChart4"></canvas>
        </div>
    </div>
</div>
<div th:replace="layout/homeFooter::homeFooter"></div>
<script th:inline="javascript">
/*<![CDATA[*/
   var result = /*[[${result}]]*/ null;
   $(document).ready(function() {
      if (result == "logoutTrue") {
         alert("로그아웃 되었습니다");
      }
   });
/*]]>*/
</script>
</body>
</html>